#main {width:900px; margin:0 auto;}

#header {height:149px;}
#header, #content, #footer { font-size:0.69em;}

.col-1, .col-2, .col-3 { float:left;}

/*======= index.html =======*/
#page1 #content .col-1 {width:377px;}
#page1 #content .col-2 { width:448px;}

/*======= index-1.html =======*/
#page2 #content .col-1 {width:377px;}
#page2 #content .col-2 { width:448px;}
#page2 #content .col-2 .col-1 { width:165px;}

/*======= index-2.html =======*/
#page3 #content .col-1 {width:377px;}
#page3 #content .col-2 { width:448px;}
#page3 #content .col-2 .col-1 { width:158px; padding-top:5px;}
#page3 #content .col-2 .col-2 { width:128px;}

/*======= index-3.html =======*/
#page4 #content .col-1 {width:377px;}
#page4 #content .col-2 { width:448px;}

/*======= index-4.html =======*/
#page5 #content .col-1 {width:377px;}
#page5 #content .col-2 { width:468px;}
#page5 #content .col-2 .col-1 { width:158px; padding-top:5px;}
#page5 #content .col-2 .col-2 { width:156px;}

/*======= index-5.html =======*/
#page6 #content .col-1 {width:377px;}
#page6 #content .col-2 { width:448px;}

/*=========================*/


#footer {height:111px;}