* { margin:0; padding:0;}
body { background:#111; font-family:Arial; font-size:100%; line-height:.9375em; color:#fff;}

input, textarea { font-family:Arial; font-size:1em;}

.fleft { float:left;}
.fright { float:right;}
.clear { clear:both;}

.alignright { text-align:right;}
.aligncenter { text-align:center;}

.wrapper, block { width:100%; overflow:hidden;}
.container { width:100%;}

p { margin-bottom:25px;}

.tail-top { background:url(images/tail-top.gif) left top repeat-x #1c1c1c;}
.tail-center { background:url(images/tail-center.gif) left 149px repeat-x;}
.tail-bottom { background:url(images/tail-bottom.gif) left bottom repeat-x;}

/*==================forms====================*/
input, select { vertical-align:middle; font-weight:normal;}
img {border:0; vertical-align:top; text-align:left;}

.form { height:26px;}
.form input {width:273px; height:18px; background:#1b1714; border:1px solid #555038;}
textarea { width:403px; height:128px; background:#1b1714; overflow:auto; border:1px solid #555038;}


/*==================list====================*/
ul { list-style:none;}

/*==================other====================*/
.img-indent { margin:0 20px 0 0; float:left;}
.img-box { width:100%; overflow:hidden; padding-bottom:20px;}
.img-box img { float:left; margin:0 20px 0 0;}

.gallery-list { padding:26px 0 0 0; width:100%; overflow:hidden;}
.gallery-list li { float:left; padding:0 2px 2px 0; width:61px;}

.list1 li { background:url(images/marker.gif) no-repeat left 6px; padding:0 0 5px 12px;}
.list1 li a { color:#9ec9ff;}


/*==================txt, links, lines, titles====================*/
a {color:#fff;}
a:hover{text-decoration:none;}

.link1 { display:block; float:left; background:url(images/link1-bgd.gif) left top repeat-x; color:#fff; text-decoration:none;}
.link1 em { display:block; background:url(images/link1-left.gif) no-repeat left top;}
.link1 b { display:block; background:url(images/link1-right.gif) no-repeat right top; padding:2px 15px 2px 15px; font-weight:normal; font-style:normal;}
.link1:hover { text-decoration:underline;}

.line-hor { background:url(images/line.gif) left bottom no-repeat; padding-bottom:36px; margin-bottom:23px;}

.title { height:66px; margin-bottom:24px; text-align:center; background:url(images/line.gif) left bottom no-repeat;}


/*==================boxes====================*/
.box1 { background:url(images/box1-bg.jpg) no-repeat left top; width:439px; height:439px;}
.box1 .inner { padding:52px 75px 25px 76px;}

.box2 { background:url(images/box2-bg.jpg) no-repeat left top; width:439px; height:439px;}
.box2 .inner { padding:52px 75px 25px 76px;}
.box2 .line-hor { padding-bottom:46px;}

.box3 { background:url(images/box3-bg.jpg) no-repeat left top; width:439px; height:439px;}
.box3 .inner { padding:52px 75px 25px 76px;}
.box3 .line-hor { padding-bottom:41px;}
.box3 .title { padding-top:10px; height:55px;}
.box3 .list1 li { background:url(images/marker1.gif) no-repeat left 6px;}
.box3 .list1 li a { color:#ffb2ab;}

.box4 { background:url(images/box4-bg.jpg) no-repeat left top; width:439px; height:439px;}
.box4 .inner { padding:52px 25px 25px 76px;}
.box4 .line-hor { padding-bottom:46px;}
.box4 .title { padding-right:50px;}
.box4 a { color:#e7fb9c;}
.box4 p { margin-bottom:15px;}

.colors-select-box { width:357px; background:#373737; color:#767676; font-size:1.1em;}
.colors-select-box .left { background:url(images/col-select-left.gif) no-repeat left top; height:39px;}
.colors-select-box .right { background:url(images/col-select-right.gif) no-repeat right top;}
.colors-select-box .inner { padding:10px 0 9px 16px;}
.colors-select-box img { margin-left:2px;}

/*header*/
#header .indent { padding:41px 48px 0 0; text-align:center;}

/*content*/
#content .col-1 .indent { padding:33px 0 51px 87px;}
#content .col-1 .indent1 { padding-left:7px;}
#content .col-2 .indent { padding:67px 0 0 0;}

/*footer*/
#footer .fleft { color:#767676; padding:26px 0 0 122px;}
#footer .fright { padding:20px 127px 0 0;}
#footer a {color:#767676;}

/*==========================================*/
